<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5資訊</title>
</head>

<body>
    <h1>全省PM2.5資訊</h1>
    <table>
        <thead>
            <tr>
                {% for the in data ["columns"]%}
                {{th}}
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for tr in data['values']%}
            <tr>

                {%for td in tr %}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            { % endofor %}
        </tbody>
    </table>
</body>

</html>